{% extends 'base.html' %}
{% load static %}
{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/login.css' %}">
<style>
  input {
    outline: 1px solid transparent;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    background-color: #EEEEEE;
    width: 100%;
    height: 45px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
  }

  input:focus {
    border: 1px solid #ABB2B9;
  }
</style>
{% endblock %}
{% block content %}



{% if validlink %}

<div class="d-flex justify-content-center align-items-center">

  <form method="post" class="form-horizontal text-center col-xl-4 col-lg-5 col-md-7 col-sm-9 col-xs-2 login-body">
    {% csrf_token %}
    <h3>Reset your password</h3>
    {% for error in field.errors %}
    <label>{{ error }}</label>
    {% endfor %}
    {% for field in form %}
    <h5 class="text-left">{{ field.label_tag }}</h5>
    {{ field }}
    {% endfor %}
    <button class="signin-button" type="submit">Submit</button>
  </form>
</div>
{% else %}
<div class="p-5 m-5 text-center" style="height: 90vh;">
  <h1 class="text-dark mt-5"><i class="fas fa-times fa-2x mr-2"></i>This link is expired.</h1>
  <h5 class="text-dark">The link you've used is either invalid or already utilized.</h5>

</div>

{% endif %}

{% endblock %}