.profile-container{
    background-color: #F5F5F5;
    border: 0.02rem solid #1E88E5;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
}

.profile-container h3{   
    color: #3949AB;
    font-size: 30px;
    font-weight: bolder;
}
.profile-container .thumb{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    border: 1px solid black;
}
.profile-container .upload-pic {
    background: transparent !important;
    background-image: none !important;
    border: none !important;

}

.profile-container .holder{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    text-align: left;
    width: 100%;
}
.profile-container .holder label{
    color: #424949;
    font-size: 16px;
    font-weight: 400;
    width: 30%;
}

.profile-container .holder input{
    font-size: 15px;
    width: 60%;
    padding: 5px 10px 5px 10px;
}
.profile-container .holder .input-disabled{
    color: #707B7C !important;
    font-weight: 300 !important;
    background: transparent !important;
    border: none !important;
}
.profile-container button, .home{
    width: 40%;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    color: white;
    border: none;
}
.profile-container button:hover{
 background: #EF5350 !important;
 color: white;
}

.profile-container .home:hover{
    background: #00FF33 !important;
   }