<div class="jumbotron jumbotron-fluid featured-ads-container">
    <div class="row justify-content-center m-0 p-0">
  
      <div class="col-12 mt-5 mb-3 pr-4 pl-4">
          <div>
              <h3 style="margin: 0px 0px 10px 0px;">
                Ads for {{location}}
              </h3>
              <a class="featured-ads-label pull-right float-right" href="#">
          View all ads for {{location}} >>
        </a>
      </div>
        
      </div>
  
      <div class="row row-fads justify-content-center">
  
        {% for outer_key, outer_value in loc_based_details.items %}
        <div class="column">
          
            <div class="card card-featured" >
              {% for key, value in loc_based_images.items %}
            {% if outer_key == key %}
              <div class="image-container">
                <a href="{% url 'display' outer_key %}" class="text-dark">
                  <span class="badge-feature" style="background: blue;">{{ location }}</span>
                <img {% if value.image %} src="{{ value.image.url }}" {% else %}
                  src="/media/extra/2.jpg" {% endif %} class="card-img-top" >
                </a>
              </div>
              {% endif %}
              {% endfor %}
  
              <div class="card-body text-center">
                <a href="{% url 'display' outer_key %}" class="text-dark">
                <label class="ad-title">
                  {{outer_value.title}} 
                </label></a><br>
                <label class="ad-price">
                  {% for key, value in loc_based_prices.items %}
                {% if outer_key == key %}
  
                  <span>Rs </span>{{value}}<span> per head</span> 
  
                  {% endif %}
                  {% endfor %}
                </label> 
                
                <label class="ad-description">
                  <i class="fas fa-map-marker-alt mr-2"></i>{{ location }}
                </label>
                
                
                
  
              </div>
            </div>
          
        </div>
  
        {% endfor %}
      </div>
    </div>
  </div>